* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  background-color: #101115;
}

.container {
  margin: 2rem auto;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 2rem auto;
}

.space {
  align-items: center;
  margin-right: 5px;
  margin-top: 3px;

}

articles {
  justify-content: right;
  align-items: center;
  border: 1px solid transparent;
}

article {
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
}

article:hover {
  border: 1px solid #414558;
}

::selection {
  background: #41455850;
}

@media screen and (max-width: 600px) {
  html {
      font-size: 14px;
  }

  article {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
  }
}